<%if Helpers.is_logged_in?(@session)%>
  <h1>Welcome, <%=@user.username%></h1>
  <%Tweet.all.each do |tweet|%>
    <p><%=tweet.content%></p>
    <p><%=tweet.autor%></p>
  <a href='/logout'>Log Out</a>
<%end%>
  
<%end%>
