<%if Helpers.is_logged_in?(@session)%>
  <h1><%=@user.username%></h1>
  <%@user.tweets.all.each do |tweet|%>
    <p><%=tweet.content%></p>
    <p><%=@user.name%></p>
  <%end%>
  <a href='/logout'>Log Out</a>
<%else%>
  <%redirect to '/login'%>
<%end%>
