<h1><%=@user.username%></h1>
<%@user.tweets.all.each do |tweet|%>
  <p><%=tweet.content%></p>
  <%if @tweet.user.id == @session[:user_id]%>
    <a href="/tweets/<%=@tweet.id%>/delete">Delete Tweet</a>
    <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
  <%end%>
  <br></br>
<%end%>
<%if Helpers.is_logged_in?(@session)%>
  <a href='/logout'>Log Out</a>
<%else%>
  <a href='/login'>Log In</a>
<%end%>
