<h1><%=@user.username%></h1>
<%@user.tweets.all.each do |tweet|%>
  <p><%=tweet.content%></p>
  <br></br>
<%end%>
<%if Helpers.is_logged_in?(@session)%>
  <a href='/logout'>Log Out</a>
<%else%>
  <a href='/login'>Log IN</a>
<%end%>
